@import "reset.css";
body {
  background-color: #FFD8CA;
  color: #C46041;
  font-family: "Poppins", Helvetica, sans-serif;
}

@media screen and (min-width: 600px) {
  .right {
    float: right;
  }

  .left {
    float: left;
  }
}
.container {
  width: auto;
  max-width: 1128px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 32px;
}
@media screen and (min-width: 600px) {
  .container {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 64px;
  }
}

.header {
  padding: 32px 0;
}

.header-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
}
.header-inner div {
  display: block;
}

.name {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
  color: #C46041;
  vertical-align: middle;
  margin: 0;
  display: inline;
}

section {
  margin-top: 3rem;
  display: block;
}

section h1 {
  font-size: 4rem;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -0.03em;
}

section.intro {
  min-height: 90vh;
  position: relative;
}

.intro-container {
  max-width: 936px;
  display: block;
  position: absolute;
  bottom: 160px;
}
.intro-container p {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  .intro-container p {
    font-size: 48px;
    line-height: 66px;
    font-weight: bold;
  }
}

p.big {
  font-size: 48px;
  line-height: 66px;
  color: #C46041;
  font-weight: bold;
}

p.big-links a {
  display: block;
  font-weight: bold;
}
p.big-links .bullet {
  display: none;
}
@media screen and (min-width: 600px) {
  p.big-links {
    font-size: 36px;
  }
  p.big-links a {
    display: inline;
  }
  p.big-links .bullet {
    display: inline;
  }
}

section.about {
  margin-bottom: 280px;
}
section.about p {
  font-size: 24px;
  line-height: 36px;
}
@media screen and (min-width: 600px) {
  section.about p {
    font-size: 2rem;
    line-height: 52px;
  }
}
section.about p:first-of-type {
  margin-top: 172px;
  font-weight: bold;
}

section.work-history {
  margin-bottom: 160px;
}
section.work-history h3 {
  font-size: 28px;
  margin: 0 0 8px;
}
section.work-history p {
  margin: 0;
}

.job {
  display: flow-root;
  margin-bottom: 80px;
}

@media screen and (min-width: 600px) {
  .job-meta {
    float: left;
    width: 25%;
  }
}
.job-meta p {
  font-size: 22px;
}

.job-description {
  color: #111111;
}
@media screen and (min-width: 600px) {
  .job-description {
    float: left;
    width: 75%;
  }
}
.job-description p {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}

section.testimonials {
  display: flow-root;
  margin-bottom: 10rem;
}

.testimonial {
  box-sizing: border-box;
  display: flow-root;
  width: 100%;
  min-height: 100px;
  float: left;
  padding: 64px 0;
  background-color: #C17A64;
  color: #ffffff;
}
@media screen and (min-width: 960px) {
  .testimonial {
    width: 50%;
  }
}
.testimonial .testimonial-inner {
  margin: 0 40px;
}
@media screen and (min-width: 960px) {
  .testimonial .testimonial-inner {
    max-width: 468px;
    margin: 0 104px;
  }
}
.testimonial p {
  margin: 0;
  font-size: 20px;
}
.testimonial p.testimonial-attribution {
  margin-top: 24px;
  font-weight: 600;
}

.testimonial:nth-of-type(2) {
  background-color: #DE8F77;
}

.work .work-block {
  width: 100%;
  margin: 0 0 48px 0;
}
.work .work-block h3 {
  color: #111111;
  font-size: 28px;
  line-height: 40px;
  margin: 0 0 8px;
}
.work .work-block h3 a {
  color: inherit;
  text-decoration: none;
}
.work .work-block p {
  color: #111111;
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}
.work .work-block a {
  text-decoration: underline;
}
.work .work-block p.work-meta {
  color: #C46041;
  font-size: 22px;
  line-height: normal;
  margin: 0 0 16px;
}

@media screen and (min-width: 960px) {
  .work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 80px;
  }
  .work-container .work-block {
    border-top: 1px solid #C17A64;
    padding-top: 24px;
  }
}
section.contact {
  text-align: center;
  margin: 3rem 0;
}

footer {
  width: 100%;
}
footer .copyright {
  text-align: center;
  font-size: 0.8rem;
  color: #111111;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

h2 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #111111;
  letter-spacing: 4px;
  text-align: center;
  margin: 0 0 64px;
}

p {
  font-size: 1.15rem;
  line-height: 1.6;
}

a {
  color: #C46041;
  transition: color 0.2s, background 0.2s;
}

a:hover {
  color: #111111;
  background: #DE8F77;
}

.center {
  text-align: center;
}

.social-links {
  margin: 0 auto;
  text-align: center;
  justify-self: end;
}
@media screen and (min-width: 376px) {
  .social-links {
    margin: 0;
    text-align: left;
  }
}

ion-icon {
  font-size: 24px;
  color: #C46041;
  margin: 0 6px;
  transition: color 0.2s;
}

ion-icon:hover {
  color: #111111;
}