@import reset.css

// Color Variables
$white: #ffffff
$black: #111111
$red: #AA4B39
$green: #84b082
$yellow: #FFBB00

// Font Variables
$serif: Palatino, "Times New Roman", Times, serif
$sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif

body
  background-color: $white
  color: $black
  font-family: $serif

section h1
  font-size: 4rem
  font-style: italic
  font-weight: normal
  letter-spacing: -.03em

section
  margin-top: 3rem

.container
  width: auto
  max-width: 1400px
  min-height: 100vh
  margin: 0 auto
  padding: 32px
  @media screen and (min-width: 600px)
    padding: 32px
  @media screen and (min-width: 1024px)
    padding: 64px

.header
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: 1fr
  grid-column-gap: 16px
  grid-row-gap: 0px

section.section-1
  min-height: 100vh
  padding-top: 20vmax

// Typography Overrides (optional)
html
  -webkit-font-smoothing: antialiased
  font-size: 14px
  @media screen and (min-width: 600px)
    font-size: 16px
  @media screen and (min-width: 1024px)
    font-size: 18px

p
  font-size: 1.15rem
  line-height: 1.6
  a
    color: $black
    transition: color .2s
  a:hover
    color: $green

p.big
  font-size: 1.4rem
  color: $yellow

// Social Buttons

.social-links
  margin: 0 auto
  text-align: center
  @media screen and (min-width: 376px)
    margin: 0
    text-align: left

ion-icon
  font-size: 24px
  color: $black
  padding: 8px
  transition: color .15s, background .3s
  border-radius: 100%
ion-icon:hover
  color: $white
  background-color: $black
